#root {
  width: 95vw;
  display: flex;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.gameContainer {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;
  border-radius: 6px;
  background-color: #2f2f2f;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

input {
  width: 250px;
  padding: 0.5rem 1rem;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  border: transparent;
}

.player-name {
  width: 250px;
  text-align: left;
}

.editButton {
  padding: 0;
  background-color: transparent;
  color: rgb(255, 196, 0);
  font-size: inherit;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.player {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.players {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
}

.players.highlight-player div.active {
  border: 1px solid rgb(255, 208, 0);
  animation: pulse 1.5s infinite ease-in-out;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  padding: 1rem;
  border-radius: 4px;
}

.player.highlight-player div.active {
  border: 1px solid rgb(255, 208, 0);
  animation: pulse 1.5s infinite ease-in-out;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
}

.gameBoard {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttonRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.clickButton {
  width: 150px;
  height: 150px;
  cursor: pointer;
  font-size: 3rem;
}

@keyframes pulse {
  0% {
    border-color: rgb(255, 208, 0);
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0.4);
  }
  50% {
    border-color: #f8c031;
    box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
  }
  100% {
    border-color: rgb(255, 208, 0);
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
  }
}
