.container {
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
  font-family: "Inter";
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.game-wrapper {
  width: 50vw;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 2rem;
  grid-auto-rows: min-content;
}

.game-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  justify-content: space-between;
  padding: 1rem;
}

.name-input {
  width: 100%;
  padding: 0.8rem;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  outline: 1px solid brown;
  border: transparent;
}

.player {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  border: 1px solid saddlebrown;
  padding: 0.8rem 1rem;
  border-radius: 4px;
}

.player-name {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 1rem;
  align-items: center;
}

.name-edit {
  padding: 0.6rem 1rem;
  border: none;
  background-color: rgb(255, 196, 0);
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border-radius: 2px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: min-content;
  justify-content: center;
  gap: 1rem;
}

.game-button {
  width: 150px;
  height: 150px;
  cursor: pointer;
  border: none;
  background-color: rgb(54, 54, 54);
  transition: background-color 0.3s ease;
  border-radius: 2px;
}

.game-button:hover {
  background-color: rgb(70, 70, 70);
}
